body a{
	text-decoration:none;
	color:#008575;
	font-weight:lighter;
}
#content{
 margin:0 auto;
 width:950px;
}
.contact_table td {vertical-align:top;}
.contact_table td h3:first-child {margin-top:0;}
#contact_form form > div {margin-bottom:20px;}
#contact_form div > label {display:inline-block; width:100px; vertical-align: top; padding-top: 3px;}
#contact_form div > label.simple-label {width:auto; margin-right: 10px;}
#contact_form textarea {width:240px; height:100px;}
#contact_form .captcha {width:80px !important; }
input.inputbox,
textarea {margin:0; padding:4px 5px; font-size:12px; border:1px solid #ccc; color:#555; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; width:185px;}
input.inputbox:focus,
input.inputbox:hover,
textarea:focus,
textarea:hover {border:1px solid #aaa; color:#777; outline:none;}
select { padding:3px; font-size:12px; border:1px solid #ccc; color:#555; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
input[type=submit], button {font:11px Arial, Helvetica, sans-serif; text-transform:uppercase; text-shadow:0 1px 0 rgba(0,0,0,0.4); color:#fff; line-height:1; display:inline-block; padding:6px 27px 7px 10px; background-image:url(../images/learn-more.png); background-repeat:no-repeat; background-position:right center; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; border:0; cursor:pointer;}
input[type=submit]:hover, button:hover {background-color:#999; color:#fff;}

.title{
	margin-top:15px;
	margin-bottom:0;
}
#contact_left{
	padding-top:13px;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(http://themes.googleusercontent.com/static/fonts/raleway/v6/IczWvq5y_Cwwv_rBjOtT0w.woff) format('woff');
}

body { margin:0;text-shadow:none;font-size: 62.5%; line-height: 1; font-family:'Raleway','Helvetica',arial,serif;}

strong { font-weight: bold; } 

table { border-collapse: collapse; border-spacing: 0; }

p { font-size: 1.2em; line-height: 1.35em; margin-bottom: 15px; color: #434343; }

#w { display: block; width:100%; margin: 0 auto; margin-top: 0px; } 
#homeimg{
	height:600px;
	width:100%;
	 text-align:center;
}

#ddmenu {
  display: block;
  width: 100%;
  height: 90px;
  margin: 0 auto;
  padding: 0;
  background-image: linear-gradient(#008575,#73C7BA);
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(20, 20, 20, 0.2);
  cursor: pointer;
  outline: none;
  font-weight: bold;
  color: #8aa8bd;
}
.ddmenuhead>a{
	float:none !important;
	text-shadow:none;
	padding-top:5px;
	height:28px;
	color:white !important;
	text-align:center;
}
#ddmenu li { display: block; position: relative; float: left;width:16.6666%;font-size: 1.45em; text-shadow: 1px 1px 0 #fff; }
h2{
	font-size:2.2em;
	margin-bottom:13px;
	font-weight:lighter;
}
#homecontent{
	padding:30px;
}
body{
	min-width:960px;
}
#homecontent h2{
	color:#008575;
}
p{
	margin:0 0 20px 0;
	font-size:12px;
	font-family: Arial, Helvetica, 'tahoma sans-serif';
}
footer{
	background:#00525D;
	padding:36px 12px 12px 10px;
	font-family: Arial, Helvetica, 'tahoma sans-serif';
	
}
footer p{
	color:#DDD
}
#ddmenu li a {
  display: block;
  float: left;

  font-weight: bold;
  
  padding-top:41px;
  text-decoration: none;
font-weight:lighter;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#ddmenu ul {
  position: absolute;
  top: 98px;
  width: 170px;
  background: #fff;
  display: none;
  margin: 0;
  padding: 7px 0;
  list-style: none;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#ddmenu ul li{
	margin-bottom:2px;
}

/* tooltip arrow */
#ddmenu ul:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  left: 70px;
  border-width: 0 8px 8px 8px;
  border-style: solid;
  border-color: #fff transparent; 
}

#ddmenu ul:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  left: 68px;
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1) transparent;  
}

#ddmenu ul li { 
  display: block; 
  width: 100%; 
  font-size: 0.9em; 
  text-shadow: 1px 1px 0 #fff;
}

#ddmenu ul li a {
  display: block;
  
  padding: 6px 7px;
  width:92%;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#ddmenu ul li a:hover {
  background: #e9edf3;
}

#navbarlogo{
	height:87px;
	width:160px;
}

#mapp{
	width: 150px;
  	height: 570px;
  	display:inline-block;
  	text-align: center;
  	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 70px;
}

#mapp2{
	width: 375px;
  	height: 500px;
  	display:inline-block;
  	text-align: center;
  	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 70px;
}
#mapp2 h2{
	color:#008575;
}

#mapp2 p{
	text-align:left;
	margin-left:30px;
	font-size: 12px;
}

#mapa{
	width: auto;
  	height: 500px;
  	float:right;
  	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 70px;
}

#izq{
	width: 350px;
  	height: 500px;
  	display:inline-block;
  	text-align: center;
  	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 70px;
}

#der{
	width: 350px;
  	height: 500px;
  	float:right;
  	text-align: center;
  	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 70px;
}

#planos{
	width: 150px;
  	height: 250px;
  	display:inline-block;
  	text-align: center;
  	margin-right: 95px;
	margin-bottom: 10px;
	margin-left: 70px;
}
#planos2{
	width: 150px;
  	height: 250px;
  	float: right;
  	text-align: center;
  	margin-right: 95px;
	margin-bottom: 10px;
	margin-left: 70px;
}
#creacion-list li{
	text-align:left;
	font-size:16px;
	margin-bottom:10px;
}
#mapp-text{
	
    float: right;
    width: 53%;
    line-height: 3em;

}
.familiaimg{
	width:49.8%;
	height:500px;
}
#mapa-img{
	width:45%;
}
#mapa-img img{
	width:100%;
}
#mapp-text h2{
	color:#008575;
}
